<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="body-index">
    <h1 class="visually-hidden">TMDB API: Tinder look alike of actrices and actors</h1>
    <nav>
        <img src="img/logo.svg" alt="Logo"/>
        <!-- <button aria-label="Go to your likes profile"><img src="img/icons/user.svg" alt="User icon"></button> -->
        <label>
            <input type="checkbox">
            <img src="img/icons/user.svg" alt="User icon">
        </label>
    </nav>
    <main class="cards">
        <% data.forEach(item => { %>
            <a href="/person/<%= item.id %>">
                <article>
                    <h2><%= item.name %></h2>

                    <!-- Progress enhancement Img -->
                    <% if(item.profile_path !== null) {%>
                        <img src="https://image.tmdb.org/t/p/w500/<%= item.profile_path %>" alt="<%= item.name %>">
                    <% } else { %>
                        <img src="img/error-img.jpg" alt="Error image"/>
                    <% } %>

                    <button aria-label="Go to detail page button"><img src="img/icons/arrow-blue.svg" alt="Arrow blue icon"></button>

                </article>
            </a>

            <form method="POST" action="/choice">
                <input type="hidden" name="page" value="<%= page %>" />

                <button name="dislike" value="<%= item.id %>" type="submit" aria-label="Dislike button">
                    <img src="img/icons/cross.svg" alt="Cross icon">
                </button>
                <button name="like" value='<%= JSON.stringify({ id: item.id, name: item.name, profile_path: item.profile_path }) %>' type="submit" aria-label="Like button">
                    <img src="img/icons/heart.svg" alt="Heart icon">
                </button>
            </form>
        <% }) %>
    </main>
    <section class="liked">
        <h3>You've liked:</h3>
        <% likedPeople.forEach(item => { %>
            <article>
                <h4><%= item.name %></h4>
                <img src="https://image.tmdb.org/t/p/w500/<%= item.profile_path %>" alt="<%= item.name %>">
            </article>
        <% }) %>
    </section>
    
</body>
</html>