<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="body-index">
    <h1 class="visually-hidden">TMDB API: Tinder look alike of actrices and actors</h1>
    <nav>
        <img src="img/logo.svg" alt="Logo"/>
        <a href="/user/likes"><img src="img/icons/user.svg" alt="User icon"></a>
    </nav>
    <main class="cards">
        <% data.forEach(item => { %>
            <a href="/person/<%= item.id %>">
                <article>
                    <h2><%= item.name %></h2>

                    <!-- Progress enhancement Img -->
                    <% if(item.profile_path !== null) {%>
                        <img src="https://image.tmdb.org/t/p/w500/<%= item.profile_path %>" alt="<%= item.name %>">
                    <% } else { %>
                        <img src="img/error-img.jpg" alt="Error image"/>
                    <% } %>

                    <button aria-label="Go to detail page button"></button>

                </article>
            </a>

            <form class="like-form" method="POST" action="/choice">
                <input type="hidden" name="page" value="<%= page %>" />

                <button class="dislike" name="dislike" data-id="<%=item.id%>" data-name="<%=item.name%>" value="<%= JSON.stringify({ id: item.id, name: item.name }) %>" type="submit" aria-label="Dislike button">
                    <img src="img/icons/cross.svg" alt="Cross icon">
                </button>
                <button class="like" name="like" data-id="<%=item.id%>" data-name="<%=item.name%>" data-profile_path="<%=item.profile_path%>" value='<%= JSON.stringify({ id: item.id, name: item.name, profile_path: item.profile_path }) %>' type="submit" aria-label="Like button">
                    <img src="img/icons/heart.svg" alt="Heart icon">
                </button>
            </form>
        <% }) %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script type="module" src="/js/animation.js"></script>
</body>
</html>