<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head-single'); %>
<body class="body-likes">
    <nav class="nav-single">
        <div>
            <h1>You've liked:</h1>
            <button aria-label="Go back to the people"><img src="../img/icons/arrow-white.svg" alt="Arrow icon"></button>
        </div>
    </nav>

    <main class="known">
        <div>
            <% likedPeople.forEach(item => { %>
                <a href="/person/<%= item.id %>">
                    <article>
                        <h4><%= item.name %></h4>
                    
                        <!-- Progress enhancement Img -->
                        <% if(item.profile_path !== null) {%>
                            <img src="https://image.tmdb.org/t/p/w500/<%= item.profile_path %>" alt="<%= item.name %>">
                        <% } else { %>
                            <img src="img/error-img.jpg" alt="Error image"/>
                        <% } %>

                    </article>
                </a>
            <% }) %>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/likes-gsap.js"></script>
</body>
</html>