<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head-single'); %>
<body>
    <nav class="nav-single">
        <div>
            <h1><%= data.name %></h1>
            <button aria-label="Go back to the people"><img src="../img/icons/arrow-white.svg" alt="Arrow icon"></button>
        </div>
    </nav>

    <section class="sec-single-card">
        <!-- Change gender -->
        <% if(data.gender == 2) {%>
            <h2>Man</h2>
        <% } else { %>
            <h2>Woman</h2>
        <% } %>

        <!-- Progress enhancement Img -->
        <% if(data.profile_path !== null) {%>
            <img src="https://image.tmdb.org/t/p/w500/<%= data.profile_path %>" alt="<%= data.name %>">
        <% } else { %>
            <img src="img/error-img.jpg" alt="Error image"/>
        <% } %>
        
    </section>

    <main class="known">
        <h2>About:</h2>
        <p><%= data.biography %></p>
    </main>
    <script src="/js/index.js"></script>
</body>
</html>